@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Merriweather:wght@300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
}
.container{
    width: 82%;
    max-width: 1300px;
    height: 600px;
    margin: 0 auto;
}
/* primay style complete */

.banner{
    background-image: url(../resources/Banner\ Image.png);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    margin-bottom: 100px;
    object-fit: cover;
}
.banner-text{
    
    padding: 200px 300px 190px ;
}
.banner-text .b-text1{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
.banner-text .b-text2{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}
/* header style complate */
/* main start */

/* sec1-discunt start */
.sec1-discunt{
    text-align: center;
    width: 100%;
    height: 600px;
    
    margin-bottom: 250px;
}
.contant-text #discount{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
padding-bottom: 20px;
}
.contant-text #our{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;

}
.contant-text #all{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
padding-bottom: 40px;
}
/* sec1-discunt style end */
/* wellcome section start */
.banner2{
    background-image: url(../resources/Vectorrr.png);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    margin-bottom: 100px;
    
}

.wel-banner-text #wel-banner-title{
    color: #FFF;

font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px;
letter-spacing: 7.04px;
}
.wel-banner-text #wel-banner-description{
    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px;
padding: 20px 0;
}
.wel-banner-text button{
    border: none;
    color: #FFF;
background-color: #1e0505;
text-align: center;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 600;
border-radius: 15px;
}
.container-teimg{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.container-teimg .wel-banner-text{
    text-align: left;
    justify-content: center;
}
.container-teimg #img-2024{
    margin-top: 0% auto;
    justify-content: center;

}
.container-teimg .wel-banner-text{
    width: 50%;
    margin-left: 125px;
    
}
.container-teimg #img-2024{
    width: 50%;
    margin: 70px 0px;
}
/* wellcome section style end */
/* date section start */

.date{
    
    background-color: rgb(255, 234, 234);
    width: 82%;
    max-width: 1300px;
    height: 600px;
    margin: 0% auto;
}
.date .date-text{
    padding-top: 200px;
}
.date .date-title{
    text-align: center;
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;

}
.date .date-title span{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;

}
button{
    text-align: center;
    
padding: 16px 32px;
margin-top: 40px;

color: #FFF;
border-radius: 8px;
background: #F00;
font-size: 20px;
font-weight: 700;
}
/* date section end  */


/* Holiday sale discount start */
.holiday{
    background-color: #FFF;
    width: 100%;
    height: 100%; */
    
}
.holiday-title #title{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
}
.holiday-title #sub-title{
    color: #F00;

text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
}
.holiday-title #title-info{
    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; 
}
.holiday .holiday-banner{
    text-align: center;
}
.holiday .holiday-footer-banner img{
    width: 100%;
    
}


.holiday-banner .holi-banner-con1 > img{
    width: 300px;
    height: 300px;
    
}
.holi-banner-con1 #ing1{
    
    padding-right: 150px;
}  
.holi-banner-con1 #ing2{
    
    padding-left: 192px;
}
/* Holiday sale discount end */

/* portfolio section start */

.portfolio{
    width: 82%;
    max-width: 1300px;
    
    margin: 0% auto;
}
.margin{
    margin-top: 100px;
    margin-bottom: 100px;
} 
.portfolio-title #port-title1{
color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.portfolio-title #port-title2{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.portfolio-title #port-description{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
/* image style */
.portfolio-image{
    margin-top: 40px;
}
..portfolio-image-line1{
    display: flex;
}
.portfolio-image-line1 img{
    width: 424px;
    height: 450px;
    border-radius: 16px;
}
.portfolio-image-line2 img{
    width: 424px;
    height: 450px;
    border-radius: 16px;
}
.portfolio-image-line1 img:hover{
    border: 2px solid rgb(255, 234, 234); 
    
}
.portfolio-image-line2 img:hover{
    border: 2px solid rgb(255, 234, 234); 
    
}
/* portfolio section end */

/* Subscriber section start */
.subscriber{
    background-color: rgb(255, 234, 234);
    width: 82%;
    max-width: 1300px;
    height: 600px;
    margin: 0% auto;
}
.subscriber .subscriber-content{
    text-align: center;
    padding-top: 100px;
}
.subscriber-content .title{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
padding-top: 15px;
}
.subscriber-content .title-info{
    color: rgba(7, 2, 17, 0.60);
/* text-align: center; */
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 32px;
padding-top: 15px;
}
.subscriber-content input[type="text"]{
    width: 648px;
height: 72px;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
/* border-radius: 50px; */
background: #FFF;
border: none;
}
.subscriber-content button[type="submit"]{
    width: 210px;
height: 72px;
    border-radius: 0px 50px 50px 0px;
background: #F00;
border: none;
}
/* Subscriber section end */
/* footer start */
footer{
    background: #070211;
    /* width: 100%;
    max-width: 1300px; */
    height: 600px;
    margin: 0% auto;
    
}
.foter-main-contant{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}
.foter-main-contant p{
    color: #FFF;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
}
.foter-main-contant .location, .address{
    width: 50%;
    margin-left: 80px;
}
.foter-main .icon-img{
    text-align: center;
    margin-top: 100px;
}
.foter-main .date-con{
    display: flex;
    justify-content: space-around;
    
}
.date-con .date-all{
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.date-con .last-button{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    direction: none;
    background: #070211;
    border: none;
}