@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Merriweather:wght@300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
}
.container{
    width: 82px;
    max-width: 1300px;
    height: 600;
    margin: 0 auto;
}
/* primay style complete */

.banner{
    background-image: url(../resources/Banner\ Image.png);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    margin-bottom: 100px;
}
.banner-text{
    
    padding: 200px 300px 190px ;
}
.banner-text .b-text1{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
.banner-text .b-text2{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}
/* header style complate */
/* main start */

/* sec1-discunt start */
.sec1-discunt{
    text-align: center;
    width: 100%;
    height: 600px;
    
    margin-bottom: 250px;
}
.contant-text #discount{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
padding-bottom: 20px;
}
.contant-text #our{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;

}
.contant-text #all{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
padding-bottom: 40px;
}
/* sec1-discunt style end */
/* wellcome section start */
.banner2{
    background-image: url(../resources/Vectorrr.png);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    margin-bottom: 100px;
    
}

.wel-banner-text #wel-banner-title{
    color: #FFF;

font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px;
letter-spacing: 7.04px;
}
.wel-banner-text #wel-banner-description{
    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px;
padding: 20px 0;
}
.wel-banner-text #wel-banner-button{
    direction: none;

}
.container-teimg{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.container-teimg .wel-banner-text{
    text-align: left;
    justify-content: center;
}
.container-teimg #img-2024{
    margin-top: 0% auto;
    justify-content: center;

}
.container-teimg .wel-banner-text{
    width: 50%;
    margin-left: 125px;
    
}
.container-teimg #img-2024{
    width: 50%;
    margin: 70px 0px;
}